body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:whitesmoke;
    }

    h1,
    h2{
        text-align: center;
    }
    .input-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #input-todo{
        width: 250px;
        height: 25px;
        font-size: 1.25rem;
    }

    #add-todo{
        width: 50px;
        height: 30px;
        border-radius: 20px;
        border: none;
        background-color: lightgreen;
        font-size: 1.25rem;
        cursor: pointer;
    }

    .todo-container{
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .todo{
        background-color: lightsteelblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 0px 10px;
        font-size: 1.2rem;
    }

    .action>form{
        display: inline;
    }

    .actions > form > button{
        font-size: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: red;
        border: none;
        color: white;
        padding: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 10px;
    }